* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: back to back demo;
    list-style: none;
}

*::selection {
    background-color: #b977f3;
    color: black;
}

.container h1::selection,
h3::selection {
    color: white;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #eee;
}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

/* Home */
.container {
    background-image: url(./Images/Mountains.jpg);
    padding-top: 12%;
    width: auto;
    position: relative;
    height: 650px;
}

.container h1 {
    font-weight: bold;
}

strong {
    color: aliceblue;
}

.container h3,
mark {
    font-family: Chalkduster;
}

.pic {
    width: 200px;
    border-radius: 100%;
    box-shadow: 5px 5px 2px black;
}

.text-center hr {
    width: 25%;
    padding-bottom: 60px;
    margin: auto;
}

.container mark {
    opacity: .78;
    border-radius: 25%;
}


/* Navigation Bar */
/* Hello! */
.navbar-heading {
    display: flex;
    font-family: Great Vibes;
    font-size: 3rem;
    font-weight: 800;
    justify-content: center;
}

.navbar,
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.nav li {
    margin-left: 2.5rem;
}

.nav navbar-nav ul li a {
    font-size: 1.57rem;
    font-weight: 600;
    letter-spacing: 0.04;
}

.navbar {
    display: block;
}

/* hover and active */
.navbar-heading:hover {
    color: #b977f3;
    padding: .5rem 0;
    transition: all .30s ease;
}

ul a:hover,
.navbar a.active {
    color: #b977f3;
    border-bottom: .2rem solid #b977f3;
    padding: .5rem 0;
    transition: all .30s ease;
}

/* Images */
.image:hover {
    filter: grayscale(0%);
    transition: all .50s ease;
    transform: scale(1.1);
    margin-top: 5%;
    margin-bottom: 5%;
}

.image {
    filter: grayscale(100%);
}


/* Add a background color to the top navigation */

/* Style the links inside the navigation bar */

.work h1 {
    text-align: center;
}

/* About Me */
h2 {
    text-align: center;
}

#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border-radius: 3%;
    box-shadow: 3px 3px 10px gray;
}

.content {
    margin-top: 10%;
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 35em;
    font-size: 20px;
}

.content h3,
.content span {
    font-weight: bold;
}

.content span {
    font-style: italic;
}

.content p {
    margin-top: 3%;
}
#about .btn {
    margin-top: 4rem;
    font-weight: 450;
    font-size: 1.7em;
    font-family: "poppins", sans-serif;
    letter-spacing: .1rem;
    background-color:  #eee;
}
#about .btn:hover {
    background: #d2a1fd;
    color: white;
    
}
/* Skills and Abilities */
/* Education */
#education {
    outline: 2px solid black;
    /* background: rgb(238, 174, 202); */
    background: radial-gradient(circle at 100%, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#education .heading {
    padding-top: 40px;
}
#education .quote {
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    text-align: center;
    font-style: italic;

}

#education .box-container {
    padding-bottom: 40px;
    text-align: center;
}

#education .box {
    padding-top: 20px;
}

#education .content {
    margin: auto;
    padding: auto;
}
#education img {
    width: 300px;
    box-shadow: 3px 3px 10px gray;
}

/* Works */
#work {
    margin-top: 30%;
    margin-bottom: 50%;
    padding: auto;
}
#work .heading {

}

#work .mywork {
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 100px; */
    box-shadow: 0px 8px 16px px rgba(0,0,0,0.2);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    padding-bottom: 15px;
    z-index: 999;
  }
  
  /* .what {
    padding: 15px;
    text-align: center;
  } */
  #work .mywork .content .tag {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    /* height: 100%; */
    /* width: 80%; */
    padding-left: 1rem;
    /* padding-bottom: 45px; */
    background: #d2a1fd;
  }
  #work .mywork .content .tag a {
    font-size: 1.9rem;
    color: #9b3fec;
  }
  #work .mywork .content .tag:hover, #work p:hover {
    transform: translateX(5px);
  }


  /* Footer */
  #footer .box-container {
    text-align: center;
    margin-top: 160px;
  }

/* Media Screen */
@media only screen and (max-width: 767px) {
    #home .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #home h1 {
        text-align: center;
    }
    #about .content p {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        word-wrap: break-word;
    }
    .content {
        width: 30em;
        word-wrap: break-word;
        text-align: center;
    }
}